<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper blue darken-3">
            <ul class="left hide-on-med-and-down">
                <li><h5 class="large grey-text text-lighten-4">&nbsp &#9749; &nbsp</h5></li>
                <% if (user) { %>
                    <li><a href="/user/recipes">Home</a></li>
                <% } else { %>
                    <li><a href="/user/">Home</a></li>
                <% } %>
                <li><a href="/recipes">All Public Recipes</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li>
                    <% if (user) { %>
                        <a href="/logout">
                            <i class="material-icons left">trending_flat</i>
                            Log Out
                        </a>
                    <% } else { %>
                        <a href="/auth/google">
                            <i class="material-icons Left">vpn_key</i>
                        </a>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>
</div>