
    <div id="users" class="col s2">
        <% if (user) { %>
        <ul class="collection">
            <li class="collection-item"><a href="/user/">Dashboard</a></li>
            <li class="collection-item"><a href="">Profile</a></li>
            <li class="collection-item"><a href="">Collection</a></li>
            <li class="collection-item"><a href="/user/recipes">Recipes <%= user.id %></a></li>
            <!-- %= user.id%>/ -->
            <li class="collection-item"><a href="">Comments</a></li>
        </ul>
        <% } %>
    </div>
