<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="row "><div class="row blue-grey lighten-2">
  <div id="users" class="col s12 blue lighten-4">
  <!-- <div class="col s10 blue lighten-4" style="height:100vh"> -->
    <div class="row">
      <h5>
        &nbsp To start, you can:<br>
        &nbsp - View all public recipes<br>
        &nbsp - Or login to more functionality, like creating your recipes or leaving review on recipes<br>

      </h5>
      
    </div>  
  </div>
</div>

<!--
  <!DOCTYPE html>
<html>
  <head>
    <title>%= title %></title>
    !-- Google Icon Fonts used by Materialize -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- Materialize CSS Framework -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <!-- JavaScript for Materialize -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

  <!-- </head> -->
  <!-- <body> -->

    <!-- <h1>%= title %></h1> -->
    <!-- <p>Welcome to %= title %></p> -->
<!-- 
 <div class="navbar-fixed">
  <nav>
      <div class="nav-wrapper blue darken-3">
          <a href="" class="brand-logo left">User Recipes</a>
          <ul class="right hide-on-med-and-down">
              <li>
                  <a href="/auth/google">
                      <i class="material-icons Left">vpn_key</i>
                  </a>
              </li>
          </ul>
      </div>
  </nav>
</div> 
-->


<%- include('partials/footer') %>