<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="row "><div class="row blue-grey lighten-2">
  <div id="users" class="col s12 blue lighten-4">
    <div class="row">
      <h5>
        &nbsp To start, you can:<br>
        &nbsp - View all public recipes<br>
        &nbsp - Or login to more functionality, like creating your recipes or leaving review on recipes<br>

      </h5>
      
    </div>  
  </div>
</div>

<%- include('partials/footer') %>