<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="row blue-grey lighten-2">
  <%- include('../partials/sidenav') %>
  <div class="col s10 blue lighten-4" style="height:100vh">
    <h5>Dashboard</h5>
  </div>

</div>


<!-- 
    <div class="container">
        <div id="search-row" class="row">
            <h2 class="col s4 blue-grey-text text-darken-2">Students</h2>
            <form action="/students" method="GET">
              <div class="col s3 offset-s3">
                !-- search --
                <div class="input-field">
                  <input id="search" type="search" name="name" placeholder="search name" value="%= name %>" autocomplete="off">
                  <i class="material-icons">close</i>
                </div>
              </div>
              <div class="col s2">
                <p>
                  <label for="sort-cohort">
                    <input name="sort" type="radio" id="sort-cohort" value="cohort" class="with-gap"
                      %= sortKey === 'cohort' ? 'checked' : '' %> >
                    <span>Sort by Cohort</span>
                  </label>
                </p>
                <p>
                  <label for="sort-name">
                    <input name="sort" type="radio" id="sort-name" value="name" class="with-gap"
                      %= sortKey === 'name' ? 'checked' : '' %> >
                    <span>Sort by Name</span>
                  </label>
                </p>
              </div>
            </form>
        </div>
    </div>
     -->


<%- include('../partials/footer') %>
