<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="row blue-grey lighten-2">
  <%- include('../partials/sidenav') %>
  <div class="col s10 blue lighten-4" style="height:100vh">
    <h5>Dashboard</h5>
    <br>
    <h6>Instruction: </h6>
    <ul>
      <li><h6>- Select "All Public Recipes" from the top navigation bar to view all public recipes.</h6></li>
      <li><h6>- Select "My Recipes" from the side navigation bar or "Home" from the top navigation bar to view all of your recipes (both public and private).</h6></li>
      <li><h6>- Select "Dashboard" from the side navigation bar to view this instruction.</h6></li>
    </ul>
    
    
    
  </div>

</div>



<%- include('../partials/footer') %>
