<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="row blue-grey lighten-2">
    <%- include('../partials/sidenav') %>
    <div id="users" class="col s10 blue lighten-4">
        <div class="row">
            <div class="input-field col s6">
                <a class="waves-effect waves-light btn-medium" href="/user/recipes">
                    <div class="valign-wrapper">
                        <i class="material-icons" >arrow_back</i>&nbsp Back to My Recipes
                    </div>
                </a>
                <h5 class="blue-text text-darken-2">Add New Recipe</h1>
            </div>
        </div>
    </div>
    <div class="col s10 blue lighten-4" >
        <div class="row">   
            <form action="/recipes" method="POST" class="col s12">
                
                <div class="row">
                    <div class="input-field col s6">
                        <input name="title" id="title" type="text" class="validate">  
                        <label for="title" >Title: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="desc" id="desc" type="text" class="validate">  
                        <label for="desc">Description: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="coverPicture" id="coverPicture" type="text" class="validate">  
                        <label for="coverPicture">Cover Picture: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="meals" placeholder="E.g. Dinner, Soup, Drink" id="meals" type="text" class="validate">  
                        <label for="meals">Meals: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <textarea name="ingredients" id="ingredients" class="materialize-textarea" data-length="500"></textarea>
                        <label for="ingredients">Ingredients: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <textarea name="directions" id="directions" class="materialize-textarea" data-length="500"></textarea>
                        <label for="directions">directions: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="servings" id="servings" type="text" class="validate">  
                        <label for="servings">Servings (number of people): </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="prepTime" id="prepTime" type="text" class="validate">  
                        <label for="prepTime">Prep Time (minutes): </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="cookTime" id="cookTime" type="text" class="validate">  
                        <label for="cookTime">Cook Time (minutes): </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label>
                            <input name="private" type="checkbox" class="filled-in" />
                            <span>Private recipe</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">  
                        <p></p>
                        <a href="/user/recipes">Cancel</a>&nbsp&nbsp&nbsp&nbsp
                        <input type="submit" value="Add Recipe" class="waves-effect waves-light btn-small cyan">
                    </div>
                </div>
            </form>

        </div>
            
    </div>
</div>

<%- include('../partials/footer') %>
